<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <title>Bonsai all your Url's</title>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="An application that shorten Url's.">
    <meta name="author" content="Tanveer Ahmed">

    {#  static files  #}
    {% load static %}
    <link rel="shortcut icon" type="image/icon" href="{% static 'URL_Shortner/img/bonsai.ico' %}">
    {#   Web Fonts   #}
    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">
    {#  CSS  #}
    <link rel="stylesheet" href="{% static 'URL_Shortner/plugins/bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'URL_Shortner/css/one.style.css' %}">

    <link rel="stylesheet" href="{% static 'URL_Shortner/plugins/font-awesome/css/font-awesome.min.css' %}">

    {#  Custom css  #}
    <link rel="stylesheet" href="{% static 'URL_Shortner/css/custom.css' %}">
</head>

<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery dark">

{#  Header  #}
<nav class="one-page-header navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="menu-container">
            {#                <button type="button" class="navbar-toggle">#}
            {#					<span class="sr-only">Toggle navigation</span>#}
            {#					<span class="icon-bar"></span>#}
            {#					<span class="icon-bar"></span>#}
            {#					<span class="icon-bar"></span>#}
            {#				</button>#}

            <a class="navbar-brand" href="/">
                <span><img src="{% static 'URL_Shortner/img/logo.png' %}" alt="Logo">   B</span>onsai

            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <div class="menu-container">
                <ul class="nav navbar-nav">
                    <li class="page-scroll home">
                        <a href="/signinnow">Sign in / Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!--=== End Header ===-->

<!-- Image Gradient -->
<div class="interactive-slider-v2">
    <div class="container">

        <p style="color: red; font-size: 50px; font-weight: 200">Welcome to Bonsai</p>
        <p style="color: white">Create bonsai url for every Url you have.<br></p>

        <div class="tab-pane fade active in" id="profile-1">
            <form action="/" method="POST" id="sky-form1" class="sky-form" novalidate="novalidate">
                {% csrf_token %}
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <h2>
                                    <span class="form-control input-lg"
                                          style="background-color: transparent; border-color: transparent">
                                        <i class="icon-append fa fa-globe"></i>
                                        <input type="url" name="url" placeholder="Paste Your URL here" value=
                                                "{% if url %}{{ url }}{% endif %}" style="background-color: rgba(50,50,50,0.5);
                                                 color: white;height: 40px; width: 80%; border-color: white">
                                    </span><br>
                                {% if error %}
                                    <span class="form-control input-lg"
                                          style="background-color: transparent; color: red">Please enter a valid URL</span>
                                {% endif %}
                            </h2>
                        </section>
                        <section class="col col-6">
                            <label class="label" style="font-size: large">Custom Short Url</label>
                            <label class="input">
                                <input type="text" name="custom" placeholder="customized short url"
                                       style="background-color: rgba(50,50,50,0.5); color: white">
                            </label>
                            {% if cust_err %}
                                <span class="form-control input-lg" style="background-color: transparent; color: red"
                                ">This Short URL already exists</span>
                            {% endif %}
                            {% if inv_err %}
                                {#                                    <span class="help-inline" style="background-color: transparent; color: red">This Short URL consists invalid characters. Valid characters are:#}
                                {#                                        <br/>23456789bcdfghjkmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ#}
                                {#                                        <br/>we are not letting vowels and some other character to prevent offensive or confusing url generation.</span>#}
                            {% endif %}
                        </section>
                    </div>
                    <div class="span2">
                        <br>
                        <button type="submit" class="btn btn-success">BONSAI</button>
                    </div>
                    {% if short_url %}
                        <span class="form-control input-lg" style="background-color: transparent; color: lightcyan">Success!
                            Your Bonsai Url is: <input type="text" name="country" value={{ short_url }} readonly style=
                                    "background-color: transparent; border-color: transparent"></span>

                        {#                            <p>statistics: !l!a!t!e!r! <a href="{{ shorturl }}/stats">{{ shorturl }}/stats</a></p>#}
                    {% endif %}

                </fieldset>
            </form>
        </div>

    </div>
</div>
<!-- End Image Gradient -->


<!--=== Footer v2 ===-->
<div>
    {#        <div class="footer">#}
    {#            <div class="container">#}
    {##}
    {#                <!-- Address -->#}
    {#                <div class="col-md-3 md-margin-bottom-40">#}
    {#                    <!-- Social Links -->#}
    {#                    <ul class="social-icons">#}
    {#                        <li><a href="#" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>#}
    {#                        <li><a href="#" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>#}
    {#                        <li><a href="#" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>#}
    {#                        <li><a href="#" data-original-title="Linkedin" class="rounded-x social_linkedin"></a></li>#}
    {#                    </ul>#}
    {#                    <!-- End Social Links -->#}
    {#                </div>#}
    {#            </div>#}
    {#        </div><!--/footer-->#}

    <div class="copyright">
        <div class="container">
            <p class="text-center">&copy; Tanveer Ahmed. Department of CSE. Sahjalal University of Science & Technology,
                Sylhet.</p>
        </div>
    </div><!--/copyright-->
</div>
<!--=== End Footer v2 ===-->

</body>
</html>