<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="shortcut icon" type="URL_shortner/image/icon" href="{% static 'img/bonsai.ico' %}">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>

    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
<div class="row-fluid">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">BONSAI</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="hero-unit">
            <div class="row-fluid">
                <div class="row">
                    <div class="span12">
                        <h1>Bonsai any link</h1>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="span12">
                        <div class="control-group">
                            <form class="form-horizontal" id="url_submit_form" method="POST" action="/">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="span5">
                                        <div class="control-group ">
                                            <input type="text" name="url"
                                                   placeholder="Paste Your URL here and make bonsai"
                                                   value="{% if url %}{{ url }}{% endif %}"
                                                   id="url_input"
                                                   class="span5">
                                            {% if error %}
                                                <span class="form-control input-lg">Please enter a valid URL</span>
                                            {% endif %}
                                            <p></p>
                                            <input type="text" name="custom"
                                                   placeholder="customized short url"
                                                   id="custom_short"
                                                   class="span5">
                                            {% if cust_err %}
                                                <span class="help-inline">This Short URL already exists</span>
                                            {% endif %}
                                            {% if inv_err %}
                                                <span class="help-inline">This Short URL consists invalid characters. Valid characters are:
                                                    <br/>23456789bcdfghjkmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ
                                                <br/>we are not letting vowels and some other character to prevent offensive or confusing url generation.</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="span2">
                                        <button type="submit" class="btn btn-success">BONSAI</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% if short_url %}
                        <h2>Success!</h2>
                            <form>
                                Your BONSAI Url is ready: <input type="text" name="country"
                                                                 value={{ short_url }} readonly>
                            </form>
                            <p>statistics: !l!a!t!e!r! <a href="{{ shorturl }}/stats">{{ shorturl }}/stats</a></p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
