{% extends 'Url_Shortner/base.html' %}

{% block rightNav %}
    {% if user.is_authenticated %}
        <ul class="nav navbar-nav">
            <li><h3>{{ user.get_username }} <span class="sr-only">    </span></h3></li>
            <li class="active"><a href="/usersignout">Logout</a></li>
            <span class="sr-only">(current)</span></a></li>
        </ul>

    {% else %}
        <ul class="nav navbar-nav">
            <li class="active"><a href="/usersignup">Sign Up<span class="sr-only"></span></a></li>
        </ul>

    {% endif %}
{% endblock %}

{% block body %}
    {% if err %}
        <span style="color: red">
            Wrong Log in credential.
        </span>
    {% endif %}
    <form class="form-signin" method="post">
        {% csrf_token %}
        <br>
        <h2 class="form-signin-heading">Sign In</h2>
        <br>
        <label for="inputEmail" class="sr-only">User Name</label>
        <input type="text" id="inputEmail" class="form-control" name="username" placeholder="User Name" required
               autofocus>
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" name="passwd" placeholder="Password" required>
        <br>

        {#        <div class="checkbox">#}
        {#          <label>#}
        {#            <input type="checkbox" value="remember-me"> Remember me#}
        {#          </label>#}
        {#        </div>#}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

{% endblock %}